body {
  background-color: rgb(245, 212, 223);
}

h1 {
  color: rgb(66, 150, 219);
  font-family: unset;
  font-size: 50px;
  text-align: center;
}

div {
  text-align: center;
  font-size: 20px;
}

h2 {
  text-align: center;
}

th, td {
  padding: 50px;
  text-align: center;
  font-weight: normal;
}

#subtitle {
  font-size: 20px;
  text-decoration: underline;
}
